<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="start">
<ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

 <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->

    <ion-content>
      <ion-slides pager="true" [options]="" class="ion-margin-top">
        <ion-slide class="slide-1">
          <ion-card>
          <h1>UNIVERSIDAD METROPOLITANA
            <img src="http://2.bp.blogspot.com/-D0fNFEVNGH4/VOyQtkBJyDI/AAAAAAAAFsY/hbH6cqqpQeM/s1600/Universidad-Metropolitana-de-Honduras-Metropolitanos--(34).jpg"
  width="90%" height="90%">
  <P>La universidad metropolitana de honduras es la mejor opcion para estudiar</P>
          </h1>
        </ion-card>
        </ion-slide >
        <ion-slide class="slide-2">
          <ion-card>
          <h1>REAL MADRID FC
            <img src=" https://pbs.twimg.com/media/FNVUN2MXIAIxeIP?format=jpg&name=large" width="90%" height="90%">
            <P>Es el mejor equipo del mundo y nada mas</P>
          </h1>
        </ion-card>
        </ion-slide >
        <ion-slide class="slide-3">
          <ion-card>
          <h1>Grupo #1
            <img src="https://image.shutterstock.com/image-photo/group-casual-business-people-working-260nw-641104219.jpg" width="90%" height="90%">
            <P> Somos el grupo numero#1 y esta es nuestra hermosa aplicacion creada para la clase de aplicacion movil impartida por el ingeniero Luis Aguilar, cabe mencionar que esta clase es muy bonita y de suma importancia para la carrera que estamos cursando</P>

          </h1>
        </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-content>
 





  
</ion-content>

